@import "tailwindcss";

body {
  background-color: #0f1720;
  color: #e5e7eb;
  font-family: 'Manrope', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}
